<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Text Cryptography</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
	<link rel="icon" href="/static/favicon1.ico" type="image/icon">
    <style>
        body {
            background-image: url('/static/image.jpg');
            background-size: cover; background-repeat: no-repeat; background-position: left;
        }
    </style>
</head>

<body>

	<br><br>
	<h1 align="center" class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900" 
	style="color: white; background-color: black; margin-left: 600px; 
	margin-right: 600px; border-radius: 7px;">TEXT CRYPTOGRAPHY</h1>

	<!-- <a style="margin-left: 100px; text-decoration:none; background-color: black; color: white; 
	border-radius: 5px; padding: 10px;" href="/">Home</a> -->
	<!-- change here -->
	<!-- <a style="margin-left: 1052px; text-decoration:none; background-color: black; color: white; 
	border-radius: 5px; padding: 10px;" href="tailblocksDe">Click To Go To Decryption</a> -->
	<br>
	<section class="text-gray-600 body-font relative">
		<div class="container px-5 py-24 mx-auto">
			<!-- <div class="flex flex-col text-center w-full mb-12"> -->
				<!-- <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Encryption</h1> -->
				<!-- <p align="center" style="color: white;" 
				class="lg:w-2/3 mx-auto leading-relaxed text-base">Cryptography Techniques Available</p> -->
			<!-- </div> -->
			<div class="lg:w-1/2 md:w-2/3 mx-auto">
				<div class="flex flex-wrap -m-2">
					<div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"></div>
					<div class="p-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
							background-color: red; color: white; 
							border-radius: 5px; padding: 10px;" href="ceasarEn">Ceasar Cipher</a>
							<br><br><br>
						</div>
					</div>
					<div class="p-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
								background-color: red; color: white; 
								border-radius: 5px; padding: 10px;" href="rot13En">ROT13 Cipher</a>
						</div>
					</div>
					<div class="px-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
								background-color: red; color: white; 
								border-radius: 5px; padding: 10px;" href="base64En">Base64 Cipher</a>
						</div>
						<br><br>
					</div>
					<div class="p-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
								background-color: red; color: white; 
								border-radius: 5px; padding: 10px;" href="reverseEn">Reverse Cipher</a>
						</div>
					</div>
					<div class="p-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
								background-color: red; color: white; 
								border-radius: 5px; padding: 10px;" href="oneTimePadEn">One Time Pad Cipher</a>
						</div>
					</div>
					<div class="p-2 w-1/2">
						<div class="relative">
							<a style="margin-left: 100px; text-decoration:none; 
								background-color: red; color: white; 
								border-radius: 5px; padding: 10px;" href="sha512En">SHA512</a>
						</div>
					</div>
					<div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"></div>

				</div>
			</div>
		</div>
	</section>


</body>

</html>